# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
/share
env.bak/
venv.bak/
/bin 
/include 
/lib 
pyvenv.cfg 
/lib64

# Media files
/FeatureTranscribe
*.ts 
*.wav
*.mp3
*.mp4
